<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Learn More About Us</h1>
    <div class="button-wrapper">
 
    </div>
  </div>
</section>


<!-- Introduction Section -->
<section class="intro-section">
  <div class="intro-content">
    <h2 class="intro-title">Our Journey</h2>
    <h3 class="section-heading">Building Strong Bridges Worldwide</h3>
    <p class="section-paragraph">
      United Business Community is an innovative global agency specializing in bilateral relations. Based in Vienna, with representation in Geneva, Brussels, and Tunisia to cover the African continent, our agency builds strong bridges between businesspeople, companies, government institutions, and governments.
    </p>
    <p class="section-paragraph more-content" [ngClass]="{'active': showMore1}">
      Under the leadership of <span class="glowing-text">Dkfm. Adnan Brahim</span>, we are committed to opening new business horizons by offering projects, natural resources, investments, and development initiatives across various sectors, including scientific and technological research. Our journey is driven by a dedication to excellence, innovation, and creating impactful partnerships.
    </p>
    <button class="read-more" (click)="toggleReadMore('showMore1')">
      <ng-container *ngIf="showMore1; else showMoreText">
        Read Less
      </ng-container>
      <ng-template #showMoreText>
        Read More
      </ng-template>
    </button>
    <hr class="section-divider" />
  </div>
</section>


<section class="vision-section">
  <div class="vision-content">
    <h3 class="section-heading">{{ 'SECTION_HEADING_MISSION' | translate }}</h3>
    <p class="section-paragraph">
      {{ 'MISSION_PARAGRAPH_INTRO' | translate }}
    </p>
    <ul class="section-list" [ngClass]="{'active': showMore2}">
      <li>{{ 'MISSION_LIST_ITEM_1' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_2' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_3' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_4' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_5' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_6' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_7' | translate }}</li>
      <li>{{ 'MISSION_LIST_ITEM_9' | translate }}</li>
    </ul>
    <button class="read-more" (click)="toggleReadMore('showMore2')">
      <ng-container *ngIf="showMore2; else showMoreText">
        {{ 'READ_LESS' | translate }}
      </ng-container>
      <ng-template #showMoreText>
        {{ 'READ_MORE' | translate }}
      </ng-template>
    </button>
    <hr class="section-divider" />
  </div>
</section>


<!-- Export Section -->
<section class="export-section">
  <div class="export-container">
    <!-- Integrity -->
    <div class="export-item">
      <img src="../../assets/about/int.jpg" alt="{{ 'EXPORT_TITLE_INTEGRITY' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_INTEGRITY' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_INTEGRITY' | translate }}</p>
      </div>
    </div>

    <!-- Innovation -->
    <div class="export-item">
      <img src="../../assets/about/innovation.jpg" alt="{{ 'EXPORT_TITLE_INNOVATION' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_INNOVATION' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_INNOVATION' | translate }}</p>
      </div>
    </div>

    <!-- Excellence -->
    <div class="export-item">
      <img src="../../assets/about/exe.jpg" alt="{{ 'EXPORT_TITLE_EXCELLENCE' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_EXCELLENCE' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_EXCELLENCE' | translate }}</p>
      </div>
    </div>

    <!-- Air Cargo -->
    <div class="export-item">
      <img src="../../assets/about/plane.jpg" alt="{{ 'EXPORT_TITLE_AIR_CARGO' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_AIR_CARGO' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_AIR_CARGO' | translate }}</p>
      </div>
    </div>

    <!-- Sea Cargo -->
    <div class="export-item">
      <img src="../../assets/about/cargo.jpg" alt="{{ 'EXPORT_TITLE_SEA_CARGO' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_SEA_CARGO' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_SEA_CARGO' | translate }}</p>
      </div>
    </div>

    <!-- Container Shipping -->
    <div class="export-item">
      <img src="../../assets/about/truck.jpg" alt="{{ 'EXPORT_TITLE_CONTAINER_SHIPPING' | translate }}" class="export-image">
      <div class="export-overlay">
        <h3 class="export-title">{{ 'EXPORT_TITLE_CONTAINER_SHIPPING' | translate }}</h3>
        <p class="export-description">{{ 'EXPORT_DESCRIPTION_CONTAINER_SHIPPING' | translate }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section class="vision-section">
  <div class="vision-container">
    <div class="vision-text">
      <h2 class="vision-title">{{ 'VISION_TITLE_TEAM' | translate }}</h2>
      <p class="vision-description">
        {{ 'VISION_DESCRIPTION_TEAM' | translate }}
      </p>
      <div class="read-more-btn-wrapper">
        <button class="read-more-btn">{{ 'READ_MORE' | translate }} &rarr;</button>
      </div>
      <hr class="text-divider" />
      <div class="contact-info">
        <p><i class="fas fa-phone-alt"></i> {{ 'CONTACT_OUR_TEAM' | translate }}</p>
        <p><strong>+971 505272634 </strong></p>
        <p><strong>+971 505272634</strong></p>
        <p><strong>+971 505272634</strong></p>
      </div>
    </div>
    <div class="vision-image">
      <img src="../../assets/about/team.jpg" alt="Team Image" />
    </div>
  </div>
</section>

<!-- History Section -->
<section class="consultation-section">
  <div class="consultation-content">
    <h2 class="consultation-title">{{ 'HISTORY_TITLE' | translate }}</h2>
    <hr class="title-divider" />
    <p class="consultation-description">
      {{ 'HISTORY_DESCRIPTION' | translate }}
    </p>
    <button class="get-in-touch-btn">{{ 'LEARN_MORE_BUTTON_HISTORY' | translate }} &rarr;</button>
  </div>
</section>

<!-- Contact Us Section -->
<section class="expertise-section">
  <div class="expertise-container">
    <div class="intro-text">
      <h2 class="intro-title">{{ 'CONTACT_US_TITLE' | translate }}</h2>
      <hr class="title-divider" />
      <p class="intro-description">
        {{ 'CONTACT_US_DESCRIPTION' | translate }}
      </p>
    </div>
    <div class="bottom-container">
      <div class="image-container">
        <img src="../../assets/about/contact.jpg" alt="Contact Image" class="service-image" />
      </div>
      <div class="services-section">
        <h3 class="services-title">{{ 'GET_IN_TOUCH_TITLE' | translate }}</h3>
        <hr class="services-divider" />
        <ul class="service-list">
          <li><i class="fas fa-envelope"></i> <strong>{{ 'EMAIL_LABEL' | translate }}</strong> info&#64;ubc.com</li>
          <li><i class="fas fa-phone"></i> <strong>{{ 'PHONE_LABEL' | translate }}</strong> +971 505272634</li>
          <li><i class="fas fa-map-marker-alt"></i> <strong>{{ 'ADDRESS_LABEL' | translate }}</strong> Dubai, UAE</li>
        </ul>
      </div>
    </div>
  </div>
</section>
