<div class="preload-wrapper">
  <div class="loader">
    <img id="ubcLogo" src="../../assets/newlogo2.png" alt="UBC Logo">
  </div>
  <img id="cityImage" class="fade-image" src="../../assets/move2.png" width="70%" height="70%" alt="City Image">
  <img id="countriesImage" class="fade-image" src="../../assets/country.png" width="70%" height="70%" alt="Countries Image">
  <div class="floating-balls"></div>
  <div class="floating-balls second"></div>
  <div class="floating-balls third"></div>
  <div class="floating-balls fourth"></div>
  <div class="floating-balls fifth"></div>
</div>
