<div class="wrapper" style="background-image: url('../../../assets/meeting.webp');">
  <div class="inner">
    <div class="image-holder">
      <img src="../../../assets/chaking.jpg" alt="">
    </div>
    <form (ngSubmit)="login()">
      <h3>{{ 'loginTitle' | translate }}</h3>
      <div class="form-wrapper">
        <input
          type="email"
          [(ngModel)]="user.email"
          name="email"
          placeholder="{{ 'loginEmailPlaceholder' | translate }}"
          class="form-control"
          required
        />
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="user.password"
          name="password"
          placeholder="{{ 'loginPasswordPlaceholder' | translate }}"
          class="form-control"
          required
        />
        <i class="zmdi zmdi-lock" (click)="togglePassword()"></i>
      </div>

      <div class="form-group">
        <a (click)="requestReset()" class="forgot-password">{{ 'loginForgotPassword' | translate }}</a>
      </div>

      <button type="submit">
        {{ 'loginButton' | translate }}
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
      <div class="signup-link">
        {{ 'loginSignupLink' | translate }} <a routerLink="/register">{{ 'loginSignup' | translate }}</a>
      </div>
    </form>
  </div>
</div>
